*.aux
*.bbl
*.blg
*.dvi
*.log
*.pdf
*.qqz
*.toc
*.sav
*.bak
*.html
*.txt
*.o
*.tgz
*.bz2
*.swp
*.epsi
*.svgi
*.fcv
*.ltms
perfbook_flat.tex
qqz.tex
contrib.tex
origpub.tex
perfbook*.out
perfbook-*.tex
autodate.tex
extraction
embedfonts
CodeSamples/snippets.d

RCS

/articles
/presentations
/whereat.txt
/Pieces
/.Detritus
/perfbook.ps

!/todo.txt
!/FAQ.txt
