*.aux
# *.bbl -- but need to figure out what to do with my latex .bib files...
*.blg
*.dvi
*.log
*.pdf
*.qqz
*.toc
*.sav
*.bak
*.html
*.txt
*.o
*.tgz
*.bz2
*.swp
perfbook_flat.tex
perfbook_html.bbl
perfbook_html.tex
qqz_html.tex
perfbook.out
perfbook-1c.tex
perfbook-1c.out

RCS

/articles
/presentations
/whereat.txt
/Pieces
/.Detritus
/perfbook.ps
/perfbook-2up.ps
/book.cls

!/todo.txt
!/FAQ.txt
