.trash
*.swp
gmon.out
maze_fg
maze_part
maze_seq
maze_fg_O3
maze_part_O3
maze_seq_O3
maze_fgP_O3
maze_partP_O3
maze_seqP_O3
maze_fgC_O3
maze_partC_O3
maze_seqC_O3
maze_2seq
maze_2seqC_O3
maze_2seqP_O3
maze_2seq_O3
