*.swp
*.o
*.gch
perf.data*
existence_test
existence_3hash_test
existence_3hash_uperf
existence_3skiplist_test
existence_3skiplist_uperf
kaleidoscope_test
kaleidoscope_3hash_test
kaleidoscope_3skiplist_test
kaleidoscope_skiphash_test
procon_test
